.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  top: 60px;
  position: relative;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font: bold;
  font-size: 45px;
  /* color: #d8ceba; */
  color: white;
  font-family: 'Suez One', serif;
}

.avg-section{
  top: 130px;
  position: relative;
  width: 100%;
  font-size: 15px;
  color: white;
  font-family: 'Suez One', serif;
}

.pick-section{
  position: relative;
  top: 100px;
}

.visualization-section{
  position: relative;
  top: 180px;
}

.p-dropdown-label, .p-dropdown-items, .p-dropdown-list{
  direction: rtl;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  float: right !important
}

/* .p-dropdown, .p-inputtext, .p-tabmenu, .p-tabmenuitem, .p-menuitem-link  {
  background-color: #d8ceba !important
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
